<!-- <h1>My Account</h1>
<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" id="lastName" class="form-control" ng-model="vm.user.lastName" required />
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ng-model="vm.user.username" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" ng-model="vm.user.password" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveUser()">Save</button>
            <button class="btn btn-danger" ng-click="vm.deleteUser()">Delete</button>
        </div>
    </form>
</div> -->
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="post in posts">
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.body}}</td>
            <td> <button type="button" class="btn btn-info btn-lg" data-toggle="modal" ng-click="openEditModal(post)">Edit</button>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" ng-click="openDeleteModal(post.id)">Delete</button>
            </td>  
        
    </table>

</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Post</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="firstName">Title</label>
            <input type="text" id="firstName" class="form-control" ng-model="vm.post.title" required />
        </div>
        <div class="form-group">
            <label for="lastName">Body</label>
            <input type="text" id="lastName" class="form-control" ng-model="vm.post.body" required />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" ng-click="editPost();">Update</button>
      </div>
    </div>

  </div>
</div>

<div id="myModalForDelete" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Post</h4>
      </div>
      <div class="modal-body">
        Are you sure , you want to delete the post.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" ng-click="deletePost();">Delete</button>
      </div>
    </div>

  </div>
</div>
